#portalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portalContent {
    width: max(60%, 500px);
    height: fit-content;
    margin: auto;
    position: relative;
}

#portalBtnClose {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10%;
    aspect-ratio: 1.5 / 1;
    cursor: pointer;
    pointer-events: all;
    font-size: 1rem;
}