form {
    text-align: left;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input, select, textarea{
    background-color: white;
    padding: 2px;
    height: 2rem;
    border-radius: 10px;
    color: black;
    width: auto;
    flex-grow: 2;
    border: 1.5px solid rgb(10, 0, 52);
    font-family: inherit;
    cursor:text;
}

textarea {
    height: 5rem;
}

input[type="date"]{
    width: 7rem;
}

input[type="submit"]{
    cursor: pointer;
    background: linear-gradient(100deg, rgba(191, 0, 255, 0.8), rgba(20, 243, 20, 0.634), rgb(255, 160, 59) 70.71%, rgba(3, 3, 174, 0.515));
    color: white;
    font-weight: 600;
}

input[type="submit"]:hover{
    outline: white;
    border: 2px solid white;
}

input:disabled{
    cursor:default;
    filter: grayscale(90%);
    color: rgb(48, 48, 48);
    text-shadow:none;
}

p{
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.warning {
    border: 1px solid red;
}